* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: white;
}

/* DayDetails component */

.container {
  height: 65vh;
}
.body-container {
  display: flex;
  width: 100%;
  height: 75%;
}
.footer-container {
  width: 100%;
  height: 25%;
}
.weather-details {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: 50%;
  height: 80%;
  align-content: center;
  margin-bottom: auto;
  margin-top: auto;
}
.day-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 12px;
}
.temperature {
  font-weight: bolder;
  font-size: 200px;
}
.day-details {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.degree {
  font-size: 35px;
  font-weight: bolder;
}

.icons {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 80%;
  width: 50%;
  margin-bottom: auto;
}

.thunder-storm {
  background-image: url(./img/weather-icons/partly-cloudy-rainy.png);
}
.cloudy {
  background-image: url(./img/weather-icons/cloudy.png);
}
.partly-cloudy {
  background-image: url(./img/weather-icons/partly-cloudy.png);
}
.partly-rainy {
  background-image: url(./img/weather-icons/partly-cloudy-rainy.png);
}
.partly-snowy {
  background-image: url(./img/weather-icons/partly-cloudy-snowy.png);
}
.rainy {
  background-image: url(./img/weather-icons/rainy.png);
}
.snowy {
  background-image: url(./img/weather-icons/snowy.png);
}
.clear-sky {
  background-image: url(./img/weather-icons/sunny.png);
}
/* DayDetails component */

/* --------------------------------------------- */

/* Header component */

.header {
  display: flex;
  justify-content: space-between;
  width: 98%;
  height: 10vh;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 11;
  background-color: #e84b3c;
  margin: 5px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.25);
}
.city-details {
  display: flex;
  width: 50%;
  align-self: center;
  justify-content: space-between;
}
.input-form {
  align-self: center;
  padding-right: 20px;
}

.city {
  padding-left: 20px;
}
.city {
  font-weight: 400;
  font-size: 22px;
  color: white;
  padding-bottom: 5px;
}
.date {
  font-weight: 400;
  font-size: 18px;
  color: white;
  padding-top: 3px;
}
/* Header component */

/* --------------------------------------------- */

/* Main component */

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.second-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.days-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  bottom: 20px;
}
.week-days {
  display: flex;
  flex-direction: column;
}
.circular-progress {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.error-bg {
  width: 100%;
  height: 80%;
  background-image: url(./img/not-found.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 40px;
  z-index: 3;
}
.error-message {
  align-self: center;
  font-weight: 400;
  font-size: 25px;
  opacity: 0.5;
}
.bg-image {
  width: 100%;
  height: 80%;
  background-image: url(./img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-quote {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  opacity: 0.5;
}

/* Main component */

/* Media query */
@media only screen and (max-width: 480px) {
  .city-details {
    display: none;
  }
  .input-form {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
  }
  .icons {
    opacity: 0.3;
  }
}
@media only screen and (min-width: 481px) and (max-width: 600px) {
  .icons {
    opacity: 0.4;
  }
}
/* Media query */
