* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* DayDetails component */

.container {
  display: flex;
}
.weather-details {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  width: 50%;
  height: 60vh;
  align-content: center;
}
.day-weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.temperature {
  font-weight: bolder;
  font-size: 200px;
}
.day-details {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.degree {
  font-size: 35px;
  font-weight: bolder;
}

.icons {
  height: 100%;
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

/* DayDetails component */

/* --------------------------------------------- */

/* Header component */

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  position: fixed;
  top: 0px;
  z-index: 11;
}
.city-details {
  display: flex;
  width: 50%;
  align-self: center;
  justify-content: space-between;
}
.input-form {
  align-self: center;
  padding-right: 20px;
}

.city {
  padding-left: 20px;
}
.city,
.date {
  font-weight: bolder;
  font-size: 20px;
}
/* Header component */

/* --------------------------------------------- */

/* Main component */

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-evenly;
}
.second-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
}

.days-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  position: fixed;
  bottom: 20px;
}
.week-days {
  display: flex;
  flex-direction: column;
}
.circular-progress {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
.error-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.error-bg {
  width: 100%;
  height: 80%;
  background-image: url(./img/not-found.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  top: 40px;
  z-index: 3;
}
.error-message {
  align-self: center;
  font-weight: 400;
  font-size: 25px;
  opacity: 0.5;
}
.bg-image {
  width: 100%;
  height: 80%;
  background-image: url(./img/bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.bg-quote {
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 25px;
  opacity: 0.5;
}
/* Main component */
